<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
  <properties>
    <!-- 基本的文件的输出信息的配置 将来可以研究使用日志服务器，该位置配置远程日志保存地址及端口，开发阶段，该位置暂时配置为绝对路径，各开发者自行配置-->
    <property name="LOG_HOME">/home/EAP-6.4.0/Testlog</property>
    <property name="SERVER_NAME">cosmetic-service-test</property>
    <!-- 异常邮件-->
	<property name="receipients">apollozz2014@gmail.com</property>
	<property name="from">apollozz2014@gmail.com</property>
	<property name="smtpHost">smtp.gmail.com</property>
	<property name="smtpPort">587</property>
	<property name="smtpProtocol">smtp</property>
	<property name="smtpUser">apollozz2014@gmail.com</property>
	<property name="smtpPassword">1982525light</property>  
</properties>
<appenders>
    <!-- 定义控制台输出 -->
    <Console name="Console" target="SYSTEM_OUT" follow="true">
        <PatternLayout
            pattern="%date{yyyy-MM-dd HH:mm:ss.SSS}{PST} %level [%thread][%file:%line] - %msg%n" />
    </Console>
    <!-- 程序员调试日志 -->
    <RollingRandomAccessFile name="DevLog" fileName="${LOG_HOME}/${SERVER_NAME}.log" filePattern="${LOG_HOME}/$${date:yyyy-MM}/${SERVER_NAME}-%d{yyyy-MM-dd-HH-mm}{PST}.log.gz">
        <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS}{PST} %level [%thread][%file:%line] - %msg%n" />
        <Policies>
	        <SizeBasedTriggeringPolicy size="20MB"/>
        </Policies>
    </RollingRandomAccessFile>

    <RollingRandomAccessFile name="PaymentLog" fileName="${LOG_HOME}/Payment/Payment.log" filePattern="${LOG_HOME}/$${date:yyyy-MM}/Payment-%d{yyyy-MM-dd-HH-mm}{PST}.log.gz">
        <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS}{PST} %level [%thread][%file:%line] - %msg%n" />
        <Policies>
	        <SizeBasedTriggeringPolicy size="50MB"/>
        </Policies>
    </RollingRandomAccessFile> 

    <RollingRandomAccessFile name="BackEndLog" fileName="${LOG_HOME}/BackEnd/BackEnd.log" filePattern="${LOG_HOME}/$${date:yyyy-MM}/BackEnd-%d{yyyy-MM-dd-HH-mm}{PST}.log.gz">
        <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS}{PST} %level [%thread][%file:%line] - %msg%n" />
        <Policies>
	        <SizeBasedTriggeringPolicy size="50MB"/>
        </Policies>
    </RollingRandomAccessFile> 
    
 	<SMTP name="Mailer" ignoreExceptions="false" subject="Error log from TEST"
			to="${receipients}" from="${from}" smtpHost="${smtpHost}" smtpPort="${smtpPort}"
			smtpProtocol="${smtpProtocol}" smtpUsername="${smtpUser}" smtpStarttlsEnable="true"
			smtpPassword="${smtpPassword}" smtpDebug="true" bufferSize="2">
	<PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS}{PST} %level [%thread][%file:%line] - %msg%n" />	
	<ThresholdFilter level="FATAL" onMatch="ACCEPT" onMismatch="DENY"/>
	</SMTP>	

	<Async name="AsyncMailer">
		<appender-ref ref="Mailer" />
	</Async>
		 	      
</appenders>
<loggers>
    <!-- 3rdparty Loggers -->
    <logger name="org.springframework.core" level="info">
    </logger>
    <logger name="org.springframework.beans" level="info">
    </logger>
    <logger name="org.springframework.context" level="info">
    </logger>
    <logger name="org.springframework.web" level="info">
    </logger>
    <logger name="org.jboss.netty" level="warn">
    </logger>
    <logger name="org.apache.http" level="warn">
    </logger>
    <logger name="com.mchange.v2" level="warn">
    </logger>
    <logger name="test" level="info">
    </logger>
    <logger name="payment" level="info">
        <appender-ref ref="PaymentLog" />
    </logger>    
    <logger name="backEnd" level="info">
        <appender-ref ref="BackEndLog" />
    </logger>      
    <logger name="com.cosmetic.delegate.PaymentServiceDelegate" level="info">
        <appender-ref ref="PaymentLog" />
    </logger> 
    <logger name="com.cosmetic.delegate.BackEndServiceDelegate" level="info">
        <appender-ref ref="BackEndLog" />
    </logger>         
    <!-- Root Logger -->
    <root level="debug">
        <appender-ref ref="DevLog" />
        <appender-ref ref="Console" />
        <!-- <appender-ref ref="AsyncMailer" /> -->
    </root>
</loggers>
</configuration>
